/* ADDING BREAKPOINTS / MEDIA QUERIES------------------------------------------------------------------- */

/* Small (smaller than 640px)
Medium (641px to 1007px)
Large (1008px and larger) */
/* 320px — 480px: Mobile devices ----------------------------------*/
@media only screen and (min-width: 1201px) {

/* TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER*/

.textdropbanner{
    font-size: 130px;
    width:100%
}

.textdropbanner .animate{
    width: 100%;
}
}