/* ADDING BREAKPOINTS / MEDIA QUERIES------------------------------------------------------------------- */

/* Small (smaller than 640px)
Medium (641px to 1007px)
Large (1008px and larger) */
/* 320px — 480px: Mobile devices ----------------------------------*/
@media only screen and (min-width: 1401px) {

/* TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER*/

.textdropbanner{
    font-size: 130px;
    width:100%
}

.textdropbanner .animate{
    width: 100%;
}

.infodiv1{
    padding-left: 200px;
}

.whiteline{
    border: 1px solid white;
    margin-top: 30px;
    width: 200px;
}


.div3img img{
    padding-left: 0%;
    width: 100%;

}

.div3banner{
    font-size: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
    
}

.divstyle3 .infodiv3{
    width: 100%;
    text-align: left;
}

.div3paragraph{
    padding-left: 20%;
    /* padding-right: 0%; */
}

}