/* ADDING BREAKPOINTS / MEDIA QUERIES------------------------------------------------------------------- */

/* 320px — 480px: Mobile devices ----------------------------------*/
@media only screen and (max-width: 480px) {

body{
    width: 100%;
}

/* PARAGRAPH FONTS STYLING PARAGRAPH FONT STYLING*/
.p1{
    font-size: 17px;
    /* font-weight: 100; */
}

.p2{
    font-size: 20px;
    /* font-weight:lighter; */
}

.p3{
    font-size: 15px;
    line-height: 25px;
}

.p4{
    font-size: 20px;
    line-height: 30px;
}

/* DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 */

.top-left{
    font-size: 12px;
    left: 10%;
    top: 10%;
}

/* DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 */

.divstyle1{
    /* background-color: tan; */
    flex-direction: column;
    
}

.divstyle1 .infodiv1{
    width: 100%;
    padding: 5%;
}

.divimg1 img {
    width: 80%;
    margin: 5%;
}

.divimg1{
    width: 100%;
}

/* THIS ALLOWS DIVSTYLE 1 TO BE IN THE FLEX DIREcTION I WANT EVEN THOUGH DIVSTYLE 1 IS IN THE OTHER DIRECTION> THIS IS PSECIFIC TO THIS DIV ONLY */

.hover2{
    flex-direction: column-reverse;
}

/* ANIMATE IMG ANIMATE IMG ANIMATE IMG ANIMATE IMG ANIMATE IMG */
/* this below allows the imgaes in divstyle 1 to not move and allow me to center the images */
.animateimg{
    position: inherit;
}

/* TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER*/
.textdropbanner div{
    font-size: 50px;
    width: 100%;
    padding-bottom: 10px;
}

.animate{
    position: inherit;
    opacity: 1;
}

/* BANNER IMG 2 BANNER IMG 2 BANNER IMG 2 BANNER IMG 2 */
.bannerimg2{
    max-width: 100%;
    padding-top: 20px;
}

.bannerimg{
    padding-top: 0px;
    padding-bottom: 10px;
}

/* DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2*/

.divstyle2{
    /* border: dashed 3px pink; */
    flex-direction: column-reverse;
    padding-top: 10px;
}

.divstyle2 .infodiv2{
    width: 100%;
    padding: 3%;
}

/* DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 */

.divstyle3{
    display: flex;
    flex-direction: column;
    /* background-color: purple; */
    padding-bottom: 0px;
}

.divstyle3 .infodiv3{
    width: 100%;
}

.div3img{
    width: 90%;
    /* padding-left: 10%; */
    border: dashed 3px red;
    /* align-self: center; */
}

.div3banner{
    /* background-color: rgb(152, 137, 152); */
    padding: 0px;
    text-align: center;
}

.div3paragraph{
    padding-top: 100px;
    padding-left: 8%;
}

/* .divstyle3{
    border: dashed 3px greenyellow;
} */

.div3img img {
    width: 90%;
border: dashed 3px greenyellow;
}

/* .divimg1 img {
    width: 80%;
    margin: 5%;
} */


/* WHITELINE ABOVE DISCOVER MORE WHITELINE ABOVE DISCOVER MORE */
.whiteline{
    width: 230px;
}



























/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */
}