/* ADDING BREAKPOINTS / MEDIA QUERIES------------------------------------------------------------------- */

/* 320px — 480px: Mobile devices ----------------------------------*/
@media only screen and (max-width: 780px) {

body{
    width: 100%;
}

/* DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1  */

.top-left{
    font-size: 20px;
    left: 10%;
    top: 10%;
}

/* DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 */

.divstyle1{
    /* background-color: tan; */
    flex-direction: column-reverse;
    
}

.divstyle1 .infodiv1{
    width: 100%;
    padding: 5%;
}

/* TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER*/
.textdropbanner{
    font-size: 80px;

}

/* BANNER IMG 2 BANNER IMG 2 BANNER IMG 2 BANNER IMG 2 */
.bannerimg2{
    max-width: 100%;
    padding-top: 20px;
}

.bannerimg{
    padding-bottom: 10px;
}

/* DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2*/

.divstyle2{
    /* border: dashed 3px pink; */
    flex-direction: column-reverse;
    padding-top: 10px;
}

.divstyle2 .infodiv2{
    width: 100%;
    padding: 3%;
}

/* DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 */

.divstyle3{
    display: flex;
    flex-direction: column;
    /* background-color: purple; */
    padding-bottom: 0px;
}

.divstyle3 .infodiv3{
    width: 100%;
}

.div3img{
    width: 100%;
    padding-left: 10%;
}

.div3banner{
    /* background-color: rgb(152, 137, 152); */
    padding: 0px;
    text-align: center;
}

.div3paragraph{
    padding-top: 100px;
    padding-left: 8%;
}



































/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */
}