*{
    padding:0;
    margin: 0;
}

html{
    /* border: dashed blue 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

body{
    display: flex;
    justify-content: center;
    /* border: dashed 3px green; */
    flex-direction: column;
    align-self: center;
    /* padding: 0px 12%; */
    width: 75%;
}

/* PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING*/
.p1{
    padding: 10px 0px;
    font-size: 20px;
    
}

.p2{
    padding: 30px 0px;
    width: 95%;
    font-size: 50px;
}

.p3{
    width: 80%;
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;

}
.p4{
    width: 80%;
    padding-top: 20px;
    font-size: 30px;
    /* font-weight: 600; */
    line-height: 40px;
}

/* WHITE LINE BORDER IN PARAGRAPH */
.whiteline{
    border: 1px solid white;
    margin-top: 30px;
    width: 500px;
}

/* MENU BAR MENU BAR MENU BAR MENU BAR MENU BAR MENU BAR MENU BAR MENU BAR MENU BAR MENU BAR MENU BAR MENU BARMENU BAR MENU BARMENU BAR MENU BARMENU BAR MENU BAR */
.menubar{
    display: flex;
    justify-content: space-between;
    color: grey;
    align-items: center;
    padding: 5px 20px;
}

.menubarlogo{
    display:flex;
    justify-content: center;
}

.menubarlogo img{
    width: 8%;
}
/* DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1  */
.div1{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 90px;
    left: 90px;
}

.img1{
    width:100%;
}

/* BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS BANNERS */

/* BANNER IMG BANNER IMG BANNER IMG BANNER IMG */
.bannerimg{
    background-color: #323a49;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}


/* BANNER IMG 2 BANNER IMG 2 BANNER IMG 2 BANNER IMG 2 */
.bannerimg2{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 40px 0px;
    background-color: #323a49;
}

/* TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER*/
.textdropbanner{
        font-size: 160px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #323a49;
        color: white;
        text-align: center;
}
    
.textdropbanner div{
    width: 60%;
    align-self: center;
}

/* BOTTOM BANNER BOTTOM BANNER BOTTOM BANNER */

.bottombanner{
    font-size: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #323a49;
    color: white;
    text-align: center;
}

.bottombanner div{
    width: 50%;
    align-self: center;
    text-align: right;
}

/* DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 */

.divstyle1{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #323a49;
    color: white;

}

.divstyle1 .infodiv1{
    width: 50%;
    text-align: left;
    padding-left: 5%;
}

/* DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2 DIV STYLE 2*/

.divstyle2{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 40px;
    background-color: #323a49;
    color: white;
}

.divstyle2 .infodiv2{
    width: 40%;
    text-align: left;
    padding-left: 5%;
}


/* DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 */

.divstyle3{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 80px;
    background-color: #323a49;
    color: white;
    align-items: center;
}

.divstyle3 .infodiv3{
    width: 55%;
    text-align: left;
}

.div3img{
    width: 45%;
    padding-left: 8%;

}

.div3banner{
    font-size: 190px;
    color: white;
    padding: 50px 30px 0px 0px;
}

.div3paragraph{
    padding-left: 8%;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer{
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
}

footer div{
    padding:  10px 15px;
    display: flex;
    justify-content: center;
}

/* SOCIAL LINKS SOCIAL LINKS  */
.fab{
    font-size: 20px;
    color: white;
}