*{
    padding:0;
    margin: 0;
}

html{
    /* border: dashed blue 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

body{
    display: flex;
    justify-content: center;
    /* border: dashed 3px green; */
    flex-direction: column;
    align-self: center;
    /* padding: 0px 12%; */
    width: 75%;
}

/* Paragraph Fonts and weights and paddings scheme */
.p1{
    padding: 10px 0px;
    font-size: 20px;
    
}

.p2{
    padding: 30px 0px;
    width: 95%;
    font-size: 50px;
}

.p3{
    width: 80%;
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;

}
.p4{
    width: 80%;
    padding-top: 20px;
    font-size: 30px;
    /* font-weight: 600; */
    line-height: 40px;
}


/* DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 */
.div1{
    display: flex;
    flex-direction: column;
    /* border: solid 2px orange; */
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 90px;
    left: 90px;
}

.img1{
    width:100%;
}

/* DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 */
.div2{
    display: flex;
    /* border: solid 2px orange; */
    width: 100%;
    text-align: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #323a49;
    color: white;
}

.div2 .infoDiv2{
    /* border: solid 5px green; */
    width: 50%;
    text-align: left;
    padding-left: 5%;
}

.whiteline{
    border: 1px solid white;
    margin-top: 30px;
    width: 500px;
}

/* BANNER BANNER BANNER BANNER BANNER BANNER BANNER BANNER BANNER BANNER BANNER BANNER BANNER BANNER*/
.banner{
    /* border: solid 2px red; */
    font-size: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #323a49;
    color: white;
    padding: 100px 0px 60px;
    text-align: center;
}

.banner div{
    width: 50%;
    /* border: solid 2px red; */
    align-self: center;
    text-align: right;
}

/* DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 DIV 3 */

/* BANNER IMG BANNER IMG BANNER IMG BANNER IMG BANNER IMG BANNER IMG BANNER IMG BANNER IMG */
.bannerimg{
    background-color: #323a49;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}



/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */
footer{
    background-color: black;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 11px;
}

footer div{
    padding:  10px 15px;
    display: flex;
    justify-content: center;
}

/* SOCIAL LINKS SOCIAL LINKS SOCIAL LINKS SOCIAL LINKS */
.fab{
    font-size: 20px;
    color: white;
}