*{
    padding:0;
    margin: 0;
}

html{
    /* border: dashed blue 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

body{
    display: flex;
    justify-content: center;
    /* border: dashed 3px green; */
    flex-direction: column;
    align-self: center;
    /* padding: 0px 12%; */
    width: 75%;
}

/* Paragraph Fonts and weights and paddings scheme */
.p1{
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 600;
}

.p2{
    padding: 30px 0px;
    width: 100%;
    font-size: 50px;
}

.p3{
    width: 80%;
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;

}
.p4{
    width: 80%;
    padding-top: 20px;
    font-size: 30px;
    /* font-weight: 600; */
    line-height: 40px;
}


/* DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 */
.div1{
    display: flex;
    flex-direction: column;
    /* border: solid 2px orange; */
    width: 100%;
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 90px;
    left: 90px;
}

.img1{
    width:100%;
}

/* DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 DIV 2 */
.div2{
    display: flex;
    /* border: solid 2px orange; */
    width: 100%;
    text-align: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #323a49;
    color: white;
}

.div2 .infoDiv2{
    /* border: solid 5px green; */
    width: 50%;
    text-align: left;
}

