/* ADDING BREAKPOINTS / MEDIA QUERIES------------------------------------------------------------------- */

/* 781px — 1200px: Tablets and Laptops ----------------------------------*/

@media only screen and (min-width: 781px) and (max-width: 1400px) {


body{
width: 100%;
}

/* PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING*/
.p2{
    padding: 30px 0px;
    width: 95%;
    font-size: 40px;
}

/* DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1  */

.top-left{
    position:absolute;
    top: 10%;
}

/* DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 */

/* .divstyle1{
    background-color: green;
} */

.divstyle1 .infodiv1{
    width: 40%;
}

/* TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER*/

.textdropbanner{
    font-size: 90px;
}

/* BANNER IMG 2 BANNER IMG 2 BANNER IMG 2 BANNER IMG 2 */
.bannerimg2 img{
    /* border: solid 2px red; */
    width: 100%;
}

/* DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 */


/* .divstyle3{
    background-color: salmon;
} */
/* 
.divstyle3 .infodiv3{
    width: 40%;
    padding-top: 90px;
}


 .div3img{
    width: 60%;
    padding-left: 1%;
}


.div3banner{
    font-size: 70px;
    text-align: center;
}

.div3paragraph{
    padding-top: 100px;
    padding-left: 10%;
    border: red solid 2px;
} */

.divstyle3{
    padding-top: 40px;
}
.div3img img{
    padding-left: 0%;
    width: 100%;

}

.div3banner{
    font-size: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
    
}

.divstyle3 .infodiv3{
    width: 100%;
    text-align: left;
}

.div3paragraph{
    padding-left: 20%;

}
/* WHITE LINE BORDER IN PARAGRAPH */
.whiteline{
    width: 200px;
}





















/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

}