/* ADDING BREAKPOINTS / MEDIA QUERIES------------------------------------------------------------------- */

/* 481px — 1400px: Tablets and Laptops ----------------------------------*/

@media only screen and (min-width: 481px) and (max-width: 1400px) {


body{
width: 100%;
}

/* MENU BAR LOGO MENU BAR LOGO MENU BAR LOGO MENU BAR LOGO MENU BAR LOGO */
.menubarlogo img{
    /* border:greenyellow solid 2px; */
    width: 10%;
    height: 10%;
}

.menubar p{
    font-size: 10px;
}
/* PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING*/
.p2{
    padding: 30px 0px;
    width: 95%;
    font-size: 40px;
}

/* DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1  */

.top-left{
    position:absolute;
    top: 10%;
}

/* DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 */

/* .divstyle1{
    background-color: green;
} */

.divstyle1 .infodiv1{
    width: 70%;
}

.divimg1 img {
    width: 100%;
}


/* TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER TEXT DROPDOWN BANNER*/

.textdropbanner{
    font-size: 90px;
}

/* BANNER IMG 2 BANNER IMG 2 BANNER IMG 2 BANNER IMG 2 */
.bannerimg2 img{
    /* border: solid 2px red; */
    width: 100%;
}

/* DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 DIV STYLE 3DIV STYLE 3 DIV STYLE 3 DIV STYLE 3 */


.divstyle3{
    padding-top: 40px;
    /* border: 2px red solid; */
}

.div3img img{
    width: 100%;
    /* border: 2px red solid; */
}

.div3img{
    width: 100%;
    /* border: 2px red solid; */
}

/* .animateimg img{
    width: 100%;
} */
/* .div3img{
    width: 100%;

} */

.div3banner{
    font-size: 100px;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: center;
    /* border: 2px red solid; */
    
}

.divstyle3 .infodiv3{
    width: 100%;
    text-align: left;
    /* border: 2px red solid; */
}

.div3paragraph{
    padding-left: 20%;

}
/* WHITE LINE BORDER IN PARAGRAPH */
.whiteline{
    width: 200px;
}

/* .div3img .force{
    
    border: solid 2px yellowgreen;
}   */

/* .div3img img{
    width: 100%;
    border: 2px red solid;
} */















/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

}