/* ADDING BREAKPOINTS / MEDIA QUERIES------------------------------------------------------------------- */

/* 481px — 1024px: Tablets and Laptops ----------------------------------*/

@media only screen and (min-width: 481px) and (max-width: 1024px) {


body{
width: 100%;
}

/* PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING PARAGRAPH FONTS STYLING*/
.p2{
    padding: 30px 0px;
    width: 95%;
    font-size: 40px;
}

/* DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1 DIV 1  */

.top-left{
    position:absolute;
    top: 10%;
}

/* DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 DIV STYLE 1 */

.divstyle1{
    background-color: green;
}

.divstyle1 .infodiv1{
    width: 40%;
}





/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

/* END OF MEDIA QUERY */

}